/* .App {
  font-family: sans-serif;
  text-align: center;
}
 .swiper-wrapper{
   display:flex;
   align-items: center !important;
   .swiper-slide{
     img{
      width: 95%;
      height:300px;
      @media screen and (max-width:1200px) {
        height: 100px;
      }
     }
   }
 }
.swiper {
  
  
  overflow: hidden;
  position: relative;
  --v-offset: 10px;
  --curve-height: 230px;

  &:before,
  &:after {
    content: "";
    z-index: 99;
    display: block;
    background: white;
    width: calc(100vw + 2 * var(--v-offset));
    height: var(--curve-height);
    position: absolute;
    border-radius: 45%;
    left: calc(-1 * var(--v-offset));
    right: calc(-1 * var(--v-offset));
  }

  &:before {
    top: calc(-0.7 * var(--curve-height));
   z-index: 99;
  }
  &:after {
    bottom: calc(-0.7 * var(--curve-height));
  }
}

.wrapper {
  display: grid;
  grid-template-rows: 300px;
  grid-auto-flow: column;
  grid-gap: 24px;
  overflow: auto;
  scroll-snap-type: x mandatory;

  img {
    scroll-snap-align: center;
   
  }
}
 */
